
<h2>Log in</h2>

<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true %>
  </div>

  <div class="field">
    <%= f.label :password %><br />
    <%= f.password_field :password, autocomplete: "off" %>
  </div>

  <% if devise_mapping.rememberable? -%>
    <div class="field">
      <%= f.check_box :remember_me %>
      <%= f.label :remember_me %>
    </div>
  <% end -%>

  <div class="actions">
    <%= f.submit "Log in" %>
  </div>
<% end %>

<%= render "devise/shared/links" %>
<style>
body {
  background-image: url('https://i2.wp.com/ipmserie.com/wp-content/uploads/2018/03/antique-Vault-Door-Closed-vault-doors-for-sale-exclusively-from-brown-safe-mfg-real-life-fallout-door-youtube-real-Vault-Door-Closed.jpg?fit=1900%2C1217');
  background-position: center;
  background-size: cover;
  height: 110vh;
}
</style>
