<%= link_to "Home Page", root_path%> | <%= link_to "User Home", user_path(current_user.id)%> | <%=link_to "Joke Vault", jokes_path %> | <%= link_to "Logout", destroy_user_session_path, method: :delete %>
<h1>edit page</h1>

<%= render 'form' %>

<p><%= link_to "Delete", joke_path, method: :delete%>
|
<a href="/jokes">Go home</a></p>

<br>

<a href="/">Your Vault homepage</a><br>
<%= link_to "Logout", destroy_user_session_path, method: :delete %>
