<%= link_to "Home Page", root_path%> <% if user_signed_in? %> | <%= link_to "User Home", user_path(current_user.id)%> | <%= link_to "Logout", destroy_user_session_path, method: :delete %>
<br>
<br><h1>All Jokes in Vault</h1>
<p>
<%= link_to "Create a new joke", new_joke_path %> <br>
</p>

<div>
  <% @jokes.each do |joke| %>
    <p style="color:white">
      <label for="">Joke Topic:</label>
      <%= joke.topic %><br>
      <label for="">
        <bdi dir="rt l"></bdi>Body of joke: :</label><%= joke.body %><br>
        <label for=""><%= joke.id %></label><br>
        <label for=""><%= joke.user.name %></label><br>
      <%= link_to 'Edit or Delete Joke', edit_joke_path(joke) %> <br>

      <label for="">-------------------------</label><br>


      </p>
</div>
  <% end %>




<%end%>
