<%= link_to "Home Page", root_path%> | <%= link_to "User Home", user_path(current_user.id)%> | <%=link_to "All Shows", shows_path %> | <%= link_to "Logout", destroy_user_session_path, method: :delete %>
<h1>edit page</h1>



<%= render 'form' %>
