<h1></h1><br>

<body>

Show Date and time:<p><%= @show.date.strftime ("%m/%d/%Y")%>, <%=@show.date.strftime("%I:%M:%S %p") %> </p>

Comedian Name:<p><%= @show.user.name %></p>
Show Name:<p><%= @show.name %></p>


Venue :<p><%= @show.club.name %> <br>
<%= @show.club.address %></p>

<a href="/">Your Vault homepage</a><br>
<%= link_to "Logout", destroy_user_session_path, method: :delete %>
</body><br>
#
<% if @show.errors.any? %>
  <ul>
<%   @show.errors.full_messages.each do |msg| %>
  <li><%= msg %></li>
    <%end%>
    </ul>
  <%end%>
