<%= link_to "Home Page", root_path%> | <%= link_to "User Home", user_path(current_user.id)%> | <%=link_to "All Shows", shows_path %> | <%= link_to "Logout", destroy_user_session_path, method: :delete %>
<body>
  <p>
<h1>Show was booked!</h1><br>
</p>


Show Date and time:<p><%= @show.date.strftime ("%m/%d/%Y")%>, <%=@show.date.strftime("%I:%M:%S %p") %> </p>

Comedian Name:<p><%= @show.user.name %></p>
Show Name:<p><%= @show.name %></p>


Venue :<p><%= @show.club.name %> <br>
<%= @show.club.address %></p>

</body><br>

<% if @show.errors.any? %>
  <ul>
<%   @show.errors.full_messages.each do |msg| %>
  <li><%= msg %></li>
    <%end%>
    </ul>
  <%end%>
