<!DOCTYPE html>
<html>
  <head>
    <%= favicon_link_tag asset_path('favicon.png') %>
    <link rel="icon" href="/assets/images/comedy_vault.png" type="icon">
    <title>The Comedy Vault</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% flash.each do |name, msg|%>
      <ul>
        <li>
          <%= msg %>
        </li>
      </ul>
    <% end %>

    <%= yield %>
  </body>
</html>
